.separator{
    margin-top: -5px;
    position: relative;
    text-align: center;
    align-items: center;
}

.separator label{
    background-color:#fff;
    color: #7F7F7F;
    padding: 0em 1.2em;
    letter-spacing: 0.15em;
    transform: scale(1.03, 0.93);
    position: relative;
}

.separator:before{
    content: '';
    border-style: solid;
    border-width: 0 0 1px 0;
    position: absolute;
    right: 75vh;
    top: 50%;
    width: 400px;
    border-color:#CCCCCC;
}
.topping {
  text-align: center;
  font-family: Helvetica;
  letter-spacing: 0.002em;
  color: black;
}

.inps{
  position: relative;
  right: 2%;
  margin-top: -30px;
  align-items: center;
}

.fbbut {
  margin-top: -15px;
  border-radius: 500px;
}

#fblog {
  color: white !important;
  font-weight: 670;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.btn {
  border-radius: 500px !important;
  padding: 10px !important;
}

.form-label{
  display: block;
  font-size: 15px;
  font-weight: 400;
  transform: scale(1, 0.93);
}

#sign {
  font-weight: 700;
  font-size: 18px;
}

.fa {
  padding: 42px;
}

.mb-3 {
  padding: 20px;
  position: absolute;
  left: 450px;
}
#exampleFormControlInput1 {
  width: 455px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

#exampleFormControlInput1:focus, #exampleFormControlInput1:active {
  border: 3px solid black;
  outline: none;
}

#exampleFormControlInput1:hover {
  border: 1px solid black;
}

.lowerP{
  position: relative;
  right: 2%;
  align-items: center;
}

#exampleFormControlInput2 {
  width: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

#exampleFormControlInput2:focus {
  border: 3px solid black;
  outline: none;
}

#exampleFormControlInput2:hover, #exampleFormControlInput2:active{
  border: 1px solid black;
}

#exampleFormControlInput3 {
  width: 200px;
  margin-left: -10px;
  margin-right: 200px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

#exampleFormControlInput3:focus {
  border: 3px solid black;
  outline: none;
}

#exampleFormControlInput3:hover, #exampleFormControlInput3:active{
  border: 1px solid black;
}

#exampleFormControlInput4 {
  width: 97px;
  margin-left: 65px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

#exampleFormControlInput4:focus {
  border: 3px solid black;
  outline: none;
}

#exampleFormControlInput4:hover, #exampleFormControlInput4:active{
  border: 1px solid black;
}

.row {
  padding: 20px;
  position: absolute;
  left: 450px;
}
#inputMonth {
  padding: 12.5px;
  margin-right: 40px;
  padding-right: 30px;
  border-radius: 4px;
  border: 1.5px solid black;
}
#inputDay {
  padding: 15px;
  margin-left: 20px;
  padding-bottom: 10px;
  border: 1.5px solid black;
}
#inputYear {
  padding: 15px;
  margin-left: 20px;
  padding-bottom: 10px;
  border: 1.5px solid black;
  width: 115px;
}
.form-check-inline {
  padding: 10px;
  position: relative;
  left: 470px;
  top: 110px;
}
#gender {
  padding: 20px;
  position: relative;
  left: 450px;
  top: 130px;
}
.form-check-label {
  padding-left: 5px;
  color: #000000;
}
.form-check {
  padding: 10px;
  position: relative;
  left: 470px;
  top: 110px;
}

.gender1{
  margin-top: -20px;
}

#newcheck {
  margin-top: -15px;
  font-size: 14px;
  margin-left: -30px;
}

input[type='radio'], input[type='checkbox'] {
  border-color: grey;
}

input[type='radio']:hover, input[type='checkbox']:hover{
  border-color: green;
}

input[type='radio']:active, input[type='checkbox']:active,input[type='radio']:checked, input[type='checkbox']:checked{
  background-color: #169B45;
}

,input[type='radio']:focus, input[type='checkbox']:focus{
  border-color: green;
  outline: none;
}

#yr{
  margin-bottom: 5px;
}

#mnth{
  margin-left: -11px;
  margin-bottom: 5px;
}

#day{
  margin-right: -140px!important;
  margin-bottom: 5px;
}

#day1{
  margin-left: 64px;
}

#captcha {
  padding: 10px;
  position: relative;
  left: 460px;
  top: 100px;
}

.footpart {
  padding: 10px;
  position: relative;
  left: 460px;
  top: 100px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.25px;
  font-size: 12px;
}

a:link, a:visited {
  color: rgb(29, 185, 84);
  background-color: transparent;
}

a:hover, a:active {
  color: #1CFF71;
}

.signup{
  margin-left: 30px;
  margin-top: -13px;
  padding: 10px;
  position: relative;
  left: 590px;
  top: 90px;
  border-radius: 500px;
}

.login{
  margin-left: 30px;
}

#signbut {
  background-color: #1FDF64;
  border: none;
  border-color: rgb(29, 185, 84);
  color: black !important;
  font-weight: 670;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 42px !important;
  padding-right: 42px !important;
  transition: transform .2s;
}

#signbut:hover{
  background-color: #24e568;
  position: static;
  /*padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 44px !important;
  padding-right: 44px !important;*/
  transform: scale(1.06);
}

.login {
  padding: 10px;
  position: relative;
  left: 575px;
  top: 100px;
  font-weight: 500;
}

#change:hover{
  color: #4dff4d;
}
